# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment / Secrets (Sangat Penting!)
.env*
!.env.example

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Code Generation (misal: flutter_gen, freez, json_serializable)
# Un-comment jika kamu TIDAK ingin meng-commit file hasil generate (*.g.dart / *.gen.dart)
# *.g.dart
# *.gen.dart

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
/android/captures/
/android/local.properties
**/android/app/key.properties
**/android/app/*.keystore
**/android/app/*.jks

# iOS / macOS / CocoaPods
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.fltdefinition
**/ios/DerivedData/
**/macOS/Pods/
**/macOS/Runner.xcworkspace/
**/macOS/Flutter/ephemeral/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html